.paquetes-center {
    z-index: 0;
    width: 1000px;
    height: 500px;
    display: inline-block;
    background-color: transparent; /* Color de fondo del rectángulo */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px; /* Espacio interno para separar el contenido del borde */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}